<!DOCTYPE html>
<html land="en-GB">
	<head>
		<title>Business Reimagined</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../styles/styles.css" type="text/css; charset=utf-8">
		<script type="text/javascript" src="../scripts/modernizr.js"></script>
		<script type="text/javascript">
		Modernizr.load({
			'load': [
				'../scripts/vendor.js',
				'../scripts/scripts.js'
			],
			'complete': function () { jQuery(window.init); }
		});
		</script>
	</head>
	<body>

		<header>
			<h1>Business Reimagined</h1>
			<nav>
				<a href="">Home</a>
				<a href="">Transparency</a>
				<a href="">Connectedness</a>
				<a href="">Community</a>
				<a href="">Access</a>
				<a href="">Contact</a>
			</nav>
		</header>

		<div class="banner">
			<div class="wrapper">
				<p>
					<span>Lorem ipsum dolor sit amet,</span>
					<span>consectetur adipiscing elit.</span>
					<span>Nam tempor tincidunt tempor.</span>
					<span>Duis nec eros ante, quis vulputate turpis.</span>
				</p>
			</div>
		</div>

		<section id="main" class="single">
			<article class="blog">

				<header>
					<a class="category">Transparency</a>
					<h1>Article Name</h1>

					<div class="tags">
						<a href="" rel="tag">London</a>
						<a href="" rel="tag">Microsoft</a>
						<a href="" rel="tag">Test</a>
					</div>
				</header>

				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English. Many desktop publishing packages and web page editors nowuse Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>

				<p><img src="http://placekitten.com/800/600" alt="" class="full"></p>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis mi ut nulla elementum faucibus. Phasellus vehicula mattis ante, bibendum ullamcorper quam gravida in. Vivamus vel ipsum eget mauris faucibus rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique ante ac odio dignissim gravida. Praesent a libero lobortis orci cursus placerat. Mauris nunc dui, placerat et lobortis sit amet, posuere in leo.</p>

				<p><blockquote>PULL QUOTE GOES HERE Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit. Proin lacinia.</blockquote> Ut accumsan sollicitudin vulputate. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc molestie molestie ultricies. Nam quis augue consectetur lectus aliquet tempus. Proin ultrices ipsum ut arcu imperdiet vel ornare odio ullamcorper. Maecenas ut condimentum justo. Aliquam a sem quis urna auctor convallis. Aliquam vehicula, odio sed lobortis ullamcorper, diam purus tristique quam, vel vulputate purus turpis in massa. Duis vel eros eu arcu adipiscing condimentum ac id purus. Mauris nunc nibh, volutpat eu tincidunt ut, commodo lacinia quam. Pellentesque mollis urna ut neque pharetra gravida. Curabitur sagittis risus a justo fringilla tincidunt.</p>

				<div class="share">
					Join discussion
					<a href="" target="_blank" class="facebook">Share to Facebook</a>
					<a href="" target="_blank" class="twitter">Share to Twitter</a>
				</div>

			</article>
		</section>

		<footer>
			<div class="wrapper">
				<div class="sponsors">
					<p>Sponsored by:</p>
				</div>
				<p>Copyright Microsoft 2013</p>
			</div>
		</footer>

	</body>
</html>