<!DOCTYPE html>
<html land="en-GB">
	<head>
		<title>Business Reimagined</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../styles/styles.css" type="text/css; charset=utf-8">
		<script type="text/javascript" src="../scripts/modernizr.js"></script>
		<script type="text/javascript">
		Modernizr.load({
			'load': [
				'../scripts/vendor.js',
				'../scripts/scripts.js'
			],
			'complete': function () { jQuery(window.init); }
		});
		</script>
	</head>
	<body>

		<header>
			<h1>Business Reimagined</h1>
			<nav>
				<a href="">Home</a>
				<a href="">Transparency</a>
				<a href="">Connectedness</a>
				<a href="">Community</a>
				<a href="">Access</a>
				<a href="">Contact</a>
			</nav>
		</header>

		<div class="banner">
			<div class="wrapper">
				<p>
					<span>Lorem ipsum dolor sit amet,</span>
					<span>consectetur adipiscing elit.</span>
					<span>Nam tempor tincidunt tempor.</span>
					<span>Duis nec eros ante, quis vulputate turpis.</span>
				</p>
			</div>
		</div>

		<section id="main" class="single">
			<h1>Contact</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet vehicula ligula. Nunc bibendum elementum est, at pulvinar ante dapibus vel. Vestibulum ut ligula et nisl laoreet faucibus. Pellentesque tristique suscipit sapien, vel lobortis metus dapibus ac. Nullam imperdiet velit a risus imperdiet blandit malesuada ipsum pellentesque. Ut lectus est, pellentesque eget malesuada convallis, iaculis vitae diam. Ut posuere tincidunt adipiscing.</p>

			<form action="" method="post" enctype="application/x-www-form-urlencoded" class="contact">
				<label>Name: <input type="text" name="name" placeholder="Put your name in here" required></label>
				<label>E-Mail: <input type="email" name="email" placeholder="Put your e-mail address in here" required></label>
				<label>Comment: <textarea name="comment" placeholder="Put your comment in here" required></textarea></label>
				<button type="submit">Submit</button>
			</form>
		</section>

		<footer>
			<div class="wrapper">
				<div class="sponsors">
					<p>Sponsored by:</p>
				</div>
				<p>Copyright Microsoft 2013</p>
			</div>
		</footer>

	</body>
</html>