<!DOCTYPE html>
<html land="en-GB">
	<head>
		<title>Business Reimagined</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../styles/styles.css" type="text/css; charset=utf-8">
		<script type="text/javascript" src="../scripts/modernizr.js"></script>
		<script type="text/javascript">
		Modernizr.load({
			'load': [
				'../scripts/vendor.js',
				'../scripts/scripts.js'
			],
			'complete': function () { jQuery(window.init); }
		});
		</script>
	</head>
	<body>

		<header>
			<a href=""><h1>Business Reimagined</h1></a>
			<nav>
				<a href="">Home</a>
				<a href="">Transparency</a>
				<a href="">Connectedness</a>
				<a href="">Community</a>
				<a href="">Access</a>
				<a href="">Contact</a>
			</nav>
		</header>

		<div class="banner">
			<div class="wrapper">
				<p>
					<span>Lorem ipsum dolor sit amet,</span>
					<span>consectetur adipiscing elit.</span>
					<span>Nam tempor tincidunt tempor.</span>
					<span>Duis nec eros ante, quis vulputate turpis.</span>
				</p>
			</div>
		</div>

		<section id="main">
			<div class="listing">

				<article class="double video">
					<!--<div class="category">
						- <a href="">Category</a> - <a href="">Category 2</a> - <a href="">Category 3</a>
					</div>
					<h1>Heading Here</h1>-->
					<div class="content">
						<iframe src="https://www.youtube-nocookie.com/embed/hrzIykdka4s?rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
				</article>

				<article>

					<a href=""><img src="http://placekitten.com/600/500" alt="Heading Here"></a>

					<div class="category">
						- <a href="">Category</a> - <a href="">Category 2</a> - <a href="">Category 3</a>
					</div>
					<div class="share">
						Join discussion
						<a href="" target="_blank" class="facebook">Share to Facebook</a>
						<a href="" target="_blank" class="twitter">Share to Twitter</a>
					</div>

					<a href=""><h1>Heading Here</h1></a>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempor tincidunt tempor. Duis nec eros ante, quis vulputate turpis.</p>

					<div class="meta">
						<p><span>Address:</span> Thames Valley Park, Reading, RG6 1WG</p>
						<p><span>Address:</span> Thames Valley Park, Reading, RG6 1WG</p>
					</div>

					<div class="tags">
						<a href="" rel="tag">London</a>
						<a href="" rel="tag">Microsoft</a>
						<a href="" rel="tag">Test</a>
					</div>

				</article>

				<article>
				
					<h1>Heading Here</h1>
					<div class="share">
						<span>Share</span>
						<a href="" target="_blank" class="facebook">Share to Facebook</a>
						<a href="" target="_blank" class="twitter">Share to Twitter</a>
					</div>

					<img src="http://placekitten.com/400/600" alt="Heading Here">

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempor tincidunt tempor. Duis nec eros ante, quis vulputate turpis.</p>

					<div class="tags">
						<a href="" rel="tag">London</a>
						<a href="" rel="tag">Microsoft</a>
						<a href="" rel="tag">Test</a>
					</div>

				</article>

				<article>
				
					<h1>Heading Here</h1>
					<div class="share">
						<span>Share</span>
						<a href="" target="_blank" class="facebook">Share to Facebook</a>
						<a href="" target="_blank" class="twitter">Share to Twitter</a>
					</div>

					<img src="http://placekitten.com/500/700" alt="Heading Here">

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempor tincidunt tempor. Duis nec eros ante, quis vulputate turpis.</p>

					<div class="tags">
						<a href="" rel="tag">London</a>
						<a href="" rel="tag">Microsoft</a>
						<a href="" rel="tag">Test</a>
					</div>

				</article>

				<article>
				
					<h1>Heading Here</h1>
					<div class="share">
						<span>Share</span>
						<a href="" target="_blank" class="facebook">Share to Facebook</a>
						<a href="" target="_blank" class="twitter">Share to Twitter</a>
					</div>

					<img src="http://placekitten.com/320/240" alt="Heading Here">

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempor tincidunt tempor. Duis nec eros ante, quis vulputate turpis.</p>

					<div class="tags">
						<a href="" rel="tag">London</a>
						<a href="" rel="tag">Microsoft</a>
						<a href="" rel="tag">Test</a>
					</div>

				</article>

				<article>
				
					<h1>Heading Here</h1>
					<div class="share">
						<span>Share</span>
						<a href="" target="_blank" class="facebook">Share to Facebook</a>
						<a href="" target="_blank" class="twitter">Share to Twitter</a>
					</div>

					<img src="http://placekitten.com/600/600" alt="Heading Here">

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempor tincidunt tempor. Duis nec eros ante, quis vulputate turpis.</p>

					<div class="tags">
						<a href="" rel="tag">London</a>
						<a href="" rel="tag">Microsoft</a>
						<a href="" rel="tag">Test</a>
					</div>

				</article>

				<article class="cta">
					<a href="">
						<img src="../images/cta.png" alt="Advert Title">
					</a>
				</article>

				<article>
				
					<h1>Heading Here</h1>
					<div class="share">
						<span>Share</span>
						<a href="" target="_blank" class="facebook">Share to Facebook</a>
						<a href="" target="_blank" class="twitter">Share to Twitter</a>
					</div>

					<img src="http://placekitten.com/600/500" alt="Heading Here">

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempor tincidunt tempor. Duis nec eros ante, quis vulputate turpis.</p>

					<div class="tags">
						<a href="" rel="tag">London</a>
						<a href="" rel="tag">Microsoft</a>
						<a href="" rel="tag">Test</a>
					</div>

				</article>

				<article>
				
					<h1>Heading Here</h1>
					<div class="share">
						<span>Share</span>
						<a href="" target="_blank" class="facebook">Share to Facebook</a>
						<a href="" target="_blank" class="twitter">Share to Twitter</a>
					</div>

					<img src="http://placekitten.com/600/500" alt="Heading Here">

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempor tincidunt tempor. Duis nec eros ante, quis vulputate turpis.</p>

					<div class="tags">
						<a href="" rel="tag">London</a>
						<a href="" rel="tag">Microsoft</a>
						<a href="" rel="tag">Test</a>
					</div>

				</article>

				<article class="double video">
					<iframe src="https://www.youtube-nocookie.com/embed/hrzIykdka4s?rel=0" frameborder="0" allowfullscreen></iframe>
				</article>

			</div>
		</section>

		<footer>
			<div class="wrapper">
				<div class="sponsors">
					<p>Sponsored by:</p>
					<a href=""><img src="../images/sponsors/microsoft.png" alt="Microsoft"></a>
				</div>
				<p>Copyright Microsoft 2013</p>
			</div>
		</footer>

	</body>
</html>