<!DOCTYPE html>
<html land="en-GB">
	<head>
		<title>Business Reimagined</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../styles/styles.css" type="text/css; charset=utf-8">
		<script type="text/javascript" src="../scripts/modernizr.js"></script>
		<script type="text/javascript">
		Modernizr.load({
			'load': [
				'../scripts/vendor.js',
				'../scripts/scripts.js'
			],
			'complete': function () { jQuery(window.init); }
		});
		</script>
	</head>
	<body>

		<header>
			<h1>Business Reimagined</h1>
			<nav>
				<a href="">Home</a>
				<a href="">Transparency</a>
				<a href="">Connectedness</a>
				<a href="">Community</a>
				<a href="">Access</a>
				<a href="">Contact</a>
			</nav>
		</header>

		<div class="banner">
			<div class="wrapper">
				<p>
					<span>Lorem ipsum dolor sit amet,</span>
					<span>consectetur adipiscing elit.</span>
					<span>Nam tempor tincidunt tempor.</span>
					<span>Duis nec eros ante, quis vulputate turpis.</span>
				</p>
			</div>
		</div>

		<section id="main">
			<h1>Transparency</h1>
			<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
			<div class="listing">

				<article class="double video">
					<iframe src="https://www.youtube-nocookie.com/embed/hrzIykdka4s?rel=0" frameborder="0" allowfullscreen></iframe>
				</article>

				<article>

					<h1>Heading Here</h1>
					<div class="share">
						Join discussion
						<a href="" target="_blank" class="facebook">Share to Facebook</a>
						<a href="" target="_blank" class="twitter">Share to Twitter</a>
					</div>

					<img src="http://placekitten.com/600/500" alt="Heading Here">

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempor tincidunt tempor. Duis nec eros ante, quis vulputate turpis.</p>

					<div class="tags">
						<a href="" rel="tag">London</a>
						<a href="" rel="tag">Microsoft</a>
						<a href="" rel="tag">Test</a>
					</div>

				</article>

				<article>
				
					<h1>Heading Here</h1>
					<div class="share">
						<span>Share</span>
						<a href="" target="_blank" class="facebook">Share to Facebook</a>
						<a href="" target="_blank" class="twitter">Share to Twitter</a>
					</div>

					<img src="http://placekitten.com/400/600" alt="Heading Here">

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempor tincidunt tempor. Duis nec eros ante, quis vulputate turpis.</p>

					<div class="tags">
						<a href="" rel="tag">London</a>
						<a href="" rel="tag">Microsoft</a>
						<a href="" rel="tag">Test</a>
					</div>

				</article>

				<article>
				
					<h1>Heading Here</h1>
					<div class="share">
						<span>Share</span>
						<a href="" target="_blank" class="facebook">Share to Facebook</a>
						<a href="" target="_blank" class="twitter">Share to Twitter</a>
					</div>

					<img src="http://placekitten.com/500/700" alt="Heading Here">

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempor tincidunt tempor. Duis nec eros ante, quis vulputate turpis.</p>

					<div class="tags">
						<a href="" rel="tag">London</a>
						<a href="" rel="tag">Microsoft</a>
						<a href="" rel="tag">Test</a>
					</div>

				</article>

				<article>
				
					<h1>Heading Here</h1>
					<div class="share">
						<span>Share</span>
						<a href="" target="_blank" class="facebook">Share to Facebook</a>
						<a href="" target="_blank" class="twitter">Share to Twitter</a>
					</div>

					<img src="http://placekitten.com/320/240" alt="Heading Here">

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempor tincidunt tempor. Duis nec eros ante, quis vulputate turpis.</p>

					<div class="tags">
						<a href="" rel="tag">London</a>
						<a href="" rel="tag">Microsoft</a>
						<a href="" rel="tag">Test</a>
					</div>

				</article>

				<article>
				
					<h1>Heading Here</h1>
					<div class="share">
						<span>Share</span>
						<a href="" target="_blank" class="facebook">Share to Facebook</a>
						<a href="" target="_blank" class="twitter">Share to Twitter</a>
					</div>

					<img src="http://placekitten.com/600/600" alt="Heading Here">

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempor tincidunt tempor. Duis nec eros ante, quis vulputate turpis.</p>

					<div class="tags">
						<a href="" rel="tag">London</a>
						<a href="" rel="tag">Microsoft</a>
						<a href="" rel="tag">Test</a>
					</div>

				</article>

				<article class="cta">
					<a href="">
						<img src="../images/cta.png" alt="Advert Title">
					</a>
				</article>

				<article>
				
					<h1>Heading Here</h1>
					<div class="share">
						<span>Share</span>
						<a href="" target="_blank" class="facebook">Share to Facebook</a>
						<a href="" target="_blank" class="twitter">Share to Twitter</a>
					</div>

					<img src="http://placekitten.com/600/500" alt="Heading Here">

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempor tincidunt tempor. Duis nec eros ante, quis vulputate turpis.</p>

					<div class="tags">
						<a href="" rel="tag">London</a>
						<a href="" rel="tag">Microsoft</a>
						<a href="" rel="tag">Test</a>
					</div>

				</article>

				<article>
				
					<h1>Heading Here</h1>
					<div class="share">
						<span>Share</span>
						<a href="" target="_blank" class="facebook">Share to Facebook</a>
						<a href="" target="_blank" class="twitter">Share to Twitter</a>
					</div>

					<img src="http://placekitten.com/600/500" alt="Heading Here">

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempor tincidunt tempor. Duis nec eros ante, quis vulputate turpis.</p>

					<div class="tags">
						<a href="" rel="tag">London</a>
						<a href="" rel="tag">Microsoft</a>
						<a href="" rel="tag">Test</a>
					</div>

				</article>

				<article class="double video">
					<iframe src="https://www.youtube-nocookie.com/embed/hrzIykdka4s?rel=0" frameborder="0" allowfullscreen></iframe>
				</article>

			</div>
		</section>

		<footer>
			<div class="wrapper">
				<div class="sponsors">
					<p>Sponsored by:</p>
				</div>
				<p>Copyright Microsoft 2013</p>
			</div>
		</footer>

	</body>
</html>